<?xml version="1.0" encoding="utf-8"?> <!--
  ~ Copyright (c)  Updated by eric on  9/3/20 11:48 AM
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ericg.debtsmanager">

    <dist:module dist:instant="true" />

    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_round_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_round_logo_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeDarkNoDActionBar"
        >
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ParentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".auth.ResetPassword"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ExitScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.NewResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AboutDeveloper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditUserAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.SignInActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>